* {box-sizing: border-box; padding: 0; margin: 0;}

:root {
    font-size: 62.5%;
}

/* ::selection {
    background: rgba(255, 10, 132, .8)
} */

form {
    width: 15rem;
    height: auto;
    margin: 2rem auto;
    font-size: 1.5rem;
}

form > .formLabel {
    font-weight: bold;
}

form > .formInput {
    border: rgb(43, 43, 223, .5) solid 1px;
    border-radius: .5rem;
    padding: 0 .3rem 0 .3rem;
    box-shadow: 0 0 .5rem rgba(36, 36, 36, 0.3);
}

ul {
    padding: 3rem;
    width: 45vw;
    max-height: 70vh;
    box-shadow: 0 0 1rem rgba(131, 131, 131, 0.3);
    border-radius: 1rem;
    margin: auto;
    list-style: none;
    overflow: scroll;
}

/* ul::-webkit-scrollbar {
    height: 95%;
} */

ul > .contactContainer {
    margin-bottom: 3.3rem;
    font-size: 1.7rem;
    border-radius: 1rem;
    box-shadow: 0 0 .7rem rgba(59, 59, 59, 0.3);
    background: rgb(240, 240, 240);
}

ul > .contactContainer > .name {
    position: relative;
    color: whitesmoke;
    border-radius: 1rem 1rem 0 0;
    padding: 1.3rem;
    background: rgb(43, 43, 223);
}

ul > .contactContainer > .name::before {
    content: 'Nome:';
    position: absolute;
    top: 5%;
    font-size: 1.2rem;
    font-style: italic;
}

ul > .contactContainer > .tel {
    position: relative;
    padding-top: 1.3rem;
    padding-left: 1.3rem;
}

ul > .contactContainer > .tel::before {
    content: 'Telefone:';
    position: absolute;
    top: 0;
    font-size: 1.2rem;
    font-style: italic;
}

ul > .contactContainer > .cep {
    position: relative;
    padding: 1.3rem 0 1.3rem 1.3rem;
}

ul > .contactContainer > .cep::before {
    content: 'CEP:';
    position: absolute;
    top: 0;
    font-size: 1.2rem;
    font-style: italic;
}